                                    bbbbbbbb                                                                          
RRRRRRRRRRRRRRRRR                   b::::::b        WWWWWWWW                           WWWWWWWW                 iiii  
R::::::::::::::::R                  b::::::b        W::::::W                           W::::::W                i::::i 
R::::::RRRRRR:::::R                 b::::::b        W::::::W                           W::::::W                 iiii  
RR:::::R     R:::::R                 b:::::b        W::::::W                           W::::::W                       
  R::::R     R:::::R   ooooooooooo   b:::::bbbbbbbbb W:::::W           WWWWW           W:::::W eeeeeeeeeeee   iiiiiii 
  R::::R     R:::::R oo:::::::::::oo b::::::::::::::bbW:::::W         W:::::W         W:::::Wee::::::::::::ee i:::::i 
  R::::RRRRRR:::::R o:::::::::::::::ob::::::::::::::::bW:::::W       W:::::::W       W:::::We::::::eeeee:::::eei::::i 
  R:::::::::::::RR  o:::::ooooo:::::ob:::::bbbbb:::::::bW:::::W     W:::::::::W     W:::::We::::::e     e:::::ei::::i 
  R::::RRRRRR:::::R o::::o     o::::ob:::::b    b::::::b W:::::W   W:::::W:::::W   W:::::W e:::::::eeeee::::::ei::::i 
  R::::R     R:::::Ro::::o     o::::ob:::::b     b:::::b  W:::::W W:::::W W:::::W W:::::W  e:::::::::::::::::e i::::i 
  R::::R     R:::::Ro::::o     o::::ob:::::b     b:::::b   W:::::W:::::W   W:::::W:::::W   e::::::eeeeeeeeeee  i::::i 
  R::::R     R:::::Ro::::o     o::::ob:::::b     b:::::b    W:::::::::W     W:::::::::W    e:::::::e           i::::i 
RR:::::R     R:::::Ro:::::ooooo:::::ob:::::bbbbbb::::::b     W:::::::W       W:::::::W     e::::::::e         i::::::i
R::::::R     R:::::Ro:::::::::::::::ob::::::::::::::::b       W:::::W         W:::::W       e::::::::eeeeeeee i::::::i
R::::::R     R:::::R oo:::::::::::oo b:::::::::::::::b         W:::W           W:::W         ee:::::::::::::e i::::::i
RRRRRRRR     RRRRRRR   ooooooooooo   bbbbbbbbbbbbbbbb           WWW             WWW            eeeeeeeeeeeeee iiiiiiii

                                                                             
	This device is managed by Ansible

	Servername:	{{ ansible_facts['nodename'] }}
	OS:		{{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} ({{ ansible_facts['distribution_release'] }})


↓↓↓
